.container{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content:flex-end;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  6px 6px 12px #a1a1a1,
    -6px -6px 12px #ffffff;
    background-image: url(../../../assets/navbar1.png);
    background-size: cover;
    height: 200%;
    width: 203vh;
    padding-bottom: 10%;
}

@font-face {
  font-family: "PumpOpti";
  src: url(../../../assets/PumpOpti-DemiBold.otf);
}

.button{
font-family: "PumpOpti";
color: azure;
border-bottom: 2px solid;
padding: 1em;
font-size: 1.5em;
margin-left: 1em;
margin-right: 1em;
}

