
@font-face {
  font-family: "PumpOpti";
  src: url(../../../assets/PumpOpti-DemiBold.otf);
}


.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #acdcee5f ;;
}

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding-top: 3em;
  padding-bottom: 3em;
}

.heading {
  font-family:"PumpOpti";
  border-bottom: 2px solid white;
  padding-bottom: 0.7em;
  width: 100%;
  color: #2b2b2ade;
  background-color: transparent;
  letter-spacing: .5em;
  text-align: center;
  text-shadow: inset -1px -1px 1px #DAA06D; 
}

.form{
  font-family:"PumpOpti"; 
  font-size: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 0.5em;
  padding-left: 2.8em;
  padding-right: 2.8em;
  padding-bottom: 0.5em;
  border: 2px dashed #423f3d;
  border-radius: 15px;
  background-color: rgba(139, 219, 243, 0.459);
  box-shadow: 0 0 0 4px #9ee5f7c2, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: .4s ease-in-out;
}

::placeholder {
  color: #20496d8b;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.range{
  display: flex;
  flex-direction: row;
  gap: 2em;  
}

.input {
  font-family:'critter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  outline: none;
  padding: 0.5em;
  border: 1px solid #11101077;
  color: #111010a1;
  width: 14em;
  height: 3em;
  border-radius: 10px;
  background-color: rgba(253, 255, 255, 0.698);
  text-align: center;
}

.imageContainer {
  background-color: rgba(139, 219, 243, 0.459);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 500px;
  height: 500px;
}

.button {
  align-self: center;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  background-color: #121212d9;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: .4s ease-in-out opacity,.1s ease-in-out active;
  padding-left: 7em;
  padding-right: 7em;
  padding-bottom: 1em;
  padding-top: 1em;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}


.button:hover {
  background-color: #51cff9d9;
  color: #423f3d;
  opacity: 0.8;
  box-shadow: 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.5);
}

.button:active {
  transform: translateX(0.1em) translateY(0.1em);
  box-shadow: none;
  background-color: #5288f4b3;
}

.button:disabled{
  background-color: #423f3d9f;
}

.option{
  font-family: "PumpOpti";

  border-radius: 10px;
}

.selectedTemp{
 font-family: "PumpOpti";
 align-self: center;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  background-color: #121212d9;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: .4s ease-in-out opacity,.1s ease-in-out active;
  padding:0.5em;
  margin: 0.5em;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.selectedTemp:hover{
  background-color: #f22525d9;
}

.alert {
    padding: 2px;
    width: 60%;
    background-color: #188a0b95;
    color: white;
    font-size: 20px;
    font-family: "PumpOpti";
    font-weight: bold;
    border: 2px dashed #fffbfb;
    border-radius: 4px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .imageCheck{
    width: 50px;
    height: 50px;
  }

  .errors{
    font-size: 15px;
        color: red;
  }

  .option{
    color: black;
  }

